.form-inp{
    width: 100%;
    padding: 3%;
    margin: 5% 0%;
}

.sub-button{
    width: 107.5%;
    padding: 4%;
    margin: 4% 0%;
}

.main-header{
    text-align: center;
}

.signup-btn{
    padding: 1%;
}